/*
.post-card{
    
    flex: 0 0 auto;
    width: 300px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #1a3316;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  */

.comment {
  width: 700px;
  padding: 20px;
  border-radius: 15px;
  height: auto;
  border: solid black; 
  border-width: 2px;
  justify-content: flex-start;
  display:flex; 
  flex-direction: column;
  gap: 10px; 

}
.username {
  display: flex;
  text-align: left;
  gap: 20px;
  font-size: 30px;
}
.comment_text {
  display: flex;
  color: black; 
  text-align: left;

  gap: 20px;
  font-size: 20px;
}


.profile_pic {
  width: 80px;
  height:auto;
  border-radius: 50%;
}

.freaky-btn{
  background-color: black; 
}

.comment_buttons{
  display: flex; 
  justify-content: center;
  gap: 30px; 
}
/*
.img-box {
    border: 2px solid #555;
    padding: 4px;
    margin-bottom: 0.5rem;
  }
  
  .img-box img {
    width: 100%;
    height: auto;
    display: block;
  }
  
*/