.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 80px;
  background-color: #14342B;
  color: #E8F7EE;
  overflow-x: auto; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  z-index: 9999;
  box-shadow: 0 2px 4px rgba(20, 52, 43, 0.1);
  overflow: visible;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space:nowrap;
}

.navbar a,
.dropbtn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/* Dropdown css */
.dropdown {
  position: relative;
}


.dropdown-content {
  position: absolute;
  top: 100%; 
  left: -250%;
  background-color: #0f0e0e;
  min-width: 140px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  list-style: none;
}

/* ovverides previous global display to make sure dropdown only shows with hover   */
.dropdown .dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Search */

.navbar-search{
  flex-shrink:1; 
  margin-left: 1rem; 
}

.nav-left {
  flex: 1;
}

.logo {
  text-decoration: none;
  color: #E8F7EE;
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background: transparent;
}

.nav-center {
  flex: 2;
  max-width: 600px;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.freaky-right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 43px; 
}

.nav-button {
  text-decoration: none;
  color: #E8F7EE;
  padding: 8px 16px;
  background: #77B28C;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  margin-left: 5px;
}

.nav-button:hover {
  background: #990D35;
}

.dropdown{
  position: relative; 
}

.navbar a, 
.dropbtn{
  color: #E8F7EE;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

}

.da-pfp{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: -30px; 
}

.navbar a:hover,
.dropbtn:hover{
  color: #77B28C;
  text-decoration: none;
}
/*
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #14342B;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(20, 52, 43, 0.2);
  z-index: 1000;
  list-style: none;
} */

.da-box{
  position: relative;
  padding-top: 5px;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.da-box-content{
  background-color: #1e1d1d;
  width: 120px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}


