.post-card {
    flex: 0 0 auto;
    width: 300px;
    padding: 1rem;
    border: 1px solid #c6b5b5;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .img-box {
    border: 2px solid #555;
    padding: 4px;
    margin-bottom: 0.5rem;
  }
  
  .img-box img {
    width: 100%;
    height: auto;
    display: block;
  }
  